<!DOCTYPE html>

<html lang="en">
<style>
    img{
        position: absolute;
        transform: translate(-50%, -50%);
    }
</style>

<html lang="en" ng-app="myapp">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quotissimo</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="../static/styles/grayscale.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="../static/js/searchtwitter.js"></script>
</head>


<body ng-controller="search" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!--mouse image-->
    <img src=//profile_pic// width="40" height ="40" alt="" id='profile_image'/>

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" style="background:none;border:none;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>

                <form class="form-horizontal" role="form" id="subscribeForm">
                <div class="form-group">
                    <div class="col-md-7 col-sm-6 col-sm-offset-1 col-md-offset-0">
                        <input ng-model='querry.name' class="form-control input-lg" type="text" placeholder="enter a twitter name">
                    </div>
                    <div class="col-md-5 col-sm-4">
                        <button ng-click='searchQuerry()' ng-href='#' type="submit" class="btn btn-success btn-lg" style="background-color:rgba(204, 204, 204, 0.52);border-color:transparent;border-radius:5px;">Quote Me</button>
                    </div>
                </div>
                </form>


              
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <!--<li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#" style="background-color:rgba(204,204,204,.52);border:1px solid;border-color:transparent;border-radius:5px;margin-left:5px;margin-right:5px;">@AnnCoulter</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#" style="background-color:rgba(204,204,204,.52);border:1px solid;border-color:transparent;border-radius:5px;margin-left:5px;margin-right:5px;">@kanyewest</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#" style="background-color:rgba(204,204,204,.52);border:1px solid;border-color:transparent;border-radius:5px;margin-left:5px;margin-right:5px;">@officialjaden</a>
                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro" style="background-image:url('//background_image//');height:100%;">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading" style="margin:0 0 15px;font-weight:100;">Hello!</h1>
                        <br><br>
                        <small style="font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;font-size:130%;">Your daily dose of things the world's most b@tsh*t celebrities would probably say</small>
                        <br><br><br><p class="intro-text" style ="font-size:40px;font-style:italic;">"//message//"</p>

                        <br><br>
                        <audio src=//song_url// type="audio/mpeg" autoplay loop>
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- jQuery -->
    <script src="../static/vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Theme JavaScript -->
    <script src="../static/js/grayscale.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $(document).mousemove(function(e){
                $('img').css('left',e.pageX+30+"px");
                $('img').css('top',e.pageY+30+"px");
            });
        }); 
    </script>



</body>

</html>
